/* Site Wide Section */

body {
	background: white;
}

p, li {
	color: white;
	font-size: 24px;
	font-weight: bold;
}

/* for slick slider */
.sliderContainer {
	width: 90%;
	margin: auto;
}

.sliderContainer img {
	margin: 0px 5px;
}


#hide {  /* For 3 lines for mobile version */
	height: 40px;
	width: 100%;
	text-align: center;
	background-color: rgba(69,168,84,0.5);
	border-radius: 5%;
	margin: auto;
}

h4 {
	color: yellow;
	line-height: 25px;
	font-size: 18px;
}

#hide img {
	height: 40px;
	width: 60px;
}

#email {
    word-wrap: break-word;	
}

#red {
	color: red;
}


/*Body-Container Section */

#content {
	box-shadow:inset 0px 0px 30px 20px #BC9CFF, 0 0 30px 20px #563B8E;
	background: -webkit-linear-gradient(#5445A8, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5445A8, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5445A8, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5445A8, white); /* Standard syntax */
	position: relative;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: block;
	overflow: hidden;
}




/* Body-Navi Section */

#left { /* change this for mobile */
	height: 100%;
	width: 100%;
	display: none;
	background-color: rgba(89, 65, 42, 0.5);
	background: -webkit-linear-gradient(#9370DB, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9370DB, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9370DB, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(89, 65, 42, 0), rgba(89, 65, 42, 0.5)); /* Standard syntax */
}



#navi {
	height: 100%;
	position: relative;
	display: block;
	margin: auto;
}



#navilink {
	background-color:black;
	position: relative;
	height: 40px;
	width: 90%;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 25px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	padding-top: 5px;
	line-height: 35px;
}

#SMButton {
	width: 20%;
	height: 20%;
	margin-top: 30px;
}




/* Body-Main Section */

#main { /* change for mobile */
	width: 95%;
	height: 100%;
	display: block;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 2%;
	float: left;
}

#title {
	font-size: 40px;
	color: white;
	font-weight: bold;
	text-align: center;
}

#Lynda { /* body section image settings */
	width: 100%;
	text-align: center;
	float: left; 
	margin-bottom: 2%;
}

#Lyndapic { /* body section image settings */
	width: 40%;	
	height: 40%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	text-align: center;
}

#About { /* For About Plan B Page List headers */
	color: white;
	font-size: 29px;
	font-weight: bold;
}

#map {
	display: block;
	margin-bottom: 30px;
	opacity: 0.8;
}

#homePage {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background-color: rgba(69,168,84,0.5);
}

#homePageAbout {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background-color: rgba(69,168,84,0.5);
	float: left;
}

#homePageServ {
	padding-left: 2%;
	padding-right: 2%;
	height: 100%;
	background-color: rgba(69,168,84,0.5);
	width: 97%;
	text-align:center;
}

#homeTitle {
	background-color: rgba(0,0,0,0.9);
	top: 0;
	font-size: 30px;
	color: white;
	text-align: center;
	float: left;
	width: 100%;
}

#homePageEmail {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background-color: rgba(69,168,84,0.5);
	float: left;
	width: 97%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-top: 4%;
}

#emailText {
	display: block;
	width: 100%;
	float: left;
	padding-right: 2%;
}

iframe {
	width: 100%;
}


/* Footer Section */

#DFP {
	color: black;
	text-align: center; 
	font-size: 12px;
}
