/* Site Wide Section */

body {
	background: white;
}

p, li {
	color: white;
	font-size: 29px;
	font-weight: bold;
}

#hide {  /* For 3 lines for mobile version */
	display: none;
}


/* for slick slider */
.sliderContainer {
	width: 90%;
	margin: auto;
}

.sliderContainer img {
	margin: 0px 10px;
}
h4 {
	color: yellow;
	line-height: 5px;
	font-size: 25px;
}

/*Body-Container Section */

#content { /* site container */
	box-shadow:inset 0px 0px 30px 20px #A98CE5, 0 0 30px 20px #6557B0;
	background: -webkit-linear-gradient(#493C91, #877FB2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#493C91, #877FB2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#493C91, #877FB2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#493C91, #877FB2); /* Standard syntax */
	position: relative;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: block;
	overflow: hidden;
	max-width: 1920px;
}

#email {
    word-wrap: break-word;	
}

#red {
	color: red;
}


/* Body-Navi Section */

#left {
	height: 100%;
	width: 19%;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	background-color: rgba(89, 65, 42, 0.5);
	background: -webkit-linear-gradient(#3A2C57, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3A2C57, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3A2C57, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(142, 132, 163, 0), rgba(142, 132, 163, 0.5)); /* Standard syntax */
	position: fixed;
}

#navi {
	height: 100vh;
	position: relative;
	display: block;
	margin: auto;
}



#navilink {
	background-color:black;
	position: relative;
	height: 40px;
	width: 90%;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 25px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	padding-top: 5px;
	line-height: 35px;
}


#left #SMButton {
	width: 20%;
	height: 10%;
	padding: 3%;
	float: left;
}




/* Body-Main Section */

#main {
	width: 73%;
	height: 100%;
	display: block;
	position: relative;
	float: left;
	margin: auto;
	margin-left: 24%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 2%;
}

#title {
	font-size: 55px;
	color: white;
	font-weight: bold;
	text-align: center;
	font-family: Gill Sans, sans-serif;
	background-color: rgba(0,0,0,0.7);
}

#Lynda { /* body section image settings */
	width: 100%;
	margin-top:1%;
	text-align: center;
}

#Lyndapic { /* body section image settings */
	width: 280px;	
	height: 280px;
	padding-left: 3%;
	padding-right: 3%;
}

#About { /* For About Plan B Page List headers */
	color: white;
	font-size: 29px;
	font-weight: bold;
}

#map {
	display: block;
	margin-bottom: 30px;
	opacity: 0.8;
}


#homePage {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background-color: rgba(139,129,158,0.5);
	float: left;
}

#homePageAbout {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background-color: rgba(139,129,158,0.5);
	float: left;
}

#homePageServ {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background-color: rgba(139,129,158,0.5);
	width: 44%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-top: 2.5%;
}

#homeTitle {
	background-color: rgba(0,0,0,0.9);
	top: 0;
	font-size: 30px;
	color: white;
	text-align: center;
	float: left;
	width: 100%;
}

#homePageEmail {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background-color: rgba(139,129,158,0.5);
	float: left;
	width: 95%;
	margin-right: 2%;
	margin-bottom: 2%;
}

#emailText {
	display: block;
	width: 48%;
	float: left;
	padding-right: 2%;
}

iframe {
	width: 50%;
}

/* Footer Section */

#DFP {
	color: black;
	text-align: center;
	font-size: 12px;
}